/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

.transition, p.accordion-style, ul.accordion-style li.accordion-style i:before, ul.accordion-style li.accordion-style i:after {
	transition: all 0.25s ease-in-out;
}
.flipIn, h1.accordion-style, ul.accordion-style li.accordion-style {
	animation: flipdown 0.5s ease both;
}
.no-select, h2.accordion-style {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
h1.accordion-style, h2.accordion-style {
	color: #ff6873;
}
h1.accordion-style {
	text-transform: uppercase;
	font-size: 28px;
	line-height: 10px;
	letter-spacing: 3px;
	font-weight: 10;
	font-family: "Trebuchet MS";
	line-height: 150%;
	
}
h2.accordion-style {
	font-size: 20px;
	line-height: 34px;
	font-weight: 300;
	padding: 10px;
	letter-spacing: 1px;
	display: block;
	background-color: #fefffa;
	margin: 0;
	cursor: pointer;
	font-family: "Trebuchet MS";
	line-height: 150%;
	
}
p.accordion-style {
	color: #fff;
	/*letter-spacing: 1px;*/
	position: relative;
	padding:5px;
	overflow: hidden;
	max-height: 1000px;
	opacity: 1;
	font-family: "Trebuchet MS";
	line-height: 150%;
	margin-top: 14px;
	z-index: 2;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align:justify;
	background:rgba(0,0,0,0.5);
}
p.about_intro{
	color:#fff;
	padding-left:20px;
	padding-right:100px;

	padding-top:10px;
	padding-bottom:10px;
/*	letter-spacing: 1px;*/
	font-family: "Trebuchet MS";
	line-height: 150%;
	
}

ul.accordion-style {
	list-style: none;
	perspective: 900;
	padding: 0;
	margin: 0;
}
ul.accordion-style li.accordion-style {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 18px;
	border-top: 1px dotted #dce7eb;
}
ul.accordion-style li.accordion-style:nth-of-type(1) {
	animation-delay: 0.25s;
}
ul.accordion-style li.accordion-style:nth-of-type(2) {
	animation-delay: 0.5s;
}
ul.accordion-style li.accordion-style:nth-of-type(3) {
	animation-delay: 0.75s;
}
ul.accordion-style li.accordion-style:nth-of-type(4) {
	animation-delay: 1s;
}
ul.accordion-style li.accordion-style:nth-of-type(5) {
	animation-delay: 1.25s;
}
ul.accordion-style li.accordion-style:nth-of-type(6) {
	animation-delay: 1.5s;
}
ul.accordion-style li.accordion-style:last-of-type {
	padding-bottom: 0;
}
ul.accordion-style li.accordion-style i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 16px;
	right: 0;
}
ul.accordion-style li.accordion-style:nth-of-type(1) {
	animation-delay: 0.25s;
}
ul.accordion-style li.accordion-style:nth-of-type(2) {
	animation-delay: 0.5s;
}
ul.accordion-style li.accordion-style:nth-of-type(3) {
	animation-delay: 0.75s;
}
ul.accordion-style li.accordion-style:nth-of-type(4) {
	animation-delay: 1s;
}
ul.accordion-style li.accordion-style:nth-of-type(5) {
	animation-delay: 1.25s;
}
ul.accordion-style li.accordion-style:nth-of-type(6) {
	animation-delay: 1.5s;
}
ul.accordion-style li.accordion-style:last-of-type {
	padding-bottom: 0;
}
ul.accordion-style li.accordion-style i {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 20px;
	margin-right: 10px;
	right: 0;
}
ul.accordion-style li.accordion-style i:before, ul.accordion-style li.accordion-style i:after {
	content: "";
	position: absolute;
	background-color: #ff6873;
	width: 3px;
	height: 9px;
}
ul.accordion-style li.accordion-style i:before {
	transform: translate(-2px, 0) rotate(45deg);
}
ul.accordion-style li.accordion-style i:after {
	transform: translate(2px, 0) rotate(-45deg);
}
ul.accordion-style li.accordion-style input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}
ul.accordion-style li.accordion-style input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}
ul.accordion-style li.accordion-style input[type=checkbox]:checked ~ i:before {
	transform: translate(2px, 0) rotate(45deg);
}
ul.accordion-style li.accordion-style input[type=checkbox]:checked ~ i:after {
	transform: translate(-2px, 0) rotate(-45deg);
}
@keyframes flipdown {
 0% {
 opacity: 0;
 transform-origin: top center;
 transform: rotateX(-90deg);
}
 5% {
 opacity: 1;
}
 80% {
 transform: rotateX(8deg);
}
 83% {
 transform: rotateX(6deg);
}
 92% {
 transform: rotateX(-3deg);
}
 100% {
 transform-origin: top center;
 transform: rotateX(0deg);
}